#vue-right-mask {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999998;
  pointer-events: none;
}
.vue-right-menu {
  width: 160px;
  font-size: 13px;
  margin: 0;
  color: #222;
  padding: 5px 4px;
  z-index: 9999999;
  position: fixed;
  display: block;
  border: 0.5px solid #cdcdcd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #e7e7e7;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  user-select:none;
  transition: 1s;
}
.vue-right-menu li {
  list-style: none;
}
.vue-right-menu-hr {
  border-bottom: 1px solid #cdcdcd;
  padding: 0;
  margin: 5px 8px;
}
.vue-right-menu-li {
  padding: 3px 8px;
  cursor: default;
  border-radius: 3px;
}
.vue-right-menu-li:hover, .vue-right-menu-a:hover a {
  color: #fff;
  background-color: #69a2f9;
}
.vue-right-menu-disabled {
  color: #a8a8a8;
  cursor: not-allowed;
}
.vue-right-menu-disabled:hover {
  color: #a8a8a8;
  background-color: #e7e7e7;
}
.vue-right-menu-a {
  cursor: pointer;
}
.vue-right-menu-a a {
  display: block;
  width: 100%;
  height: 100%;
  color: #222;
  text-decoration: none;
}
.vue-right-menu-list::after {
  content: '▸';
  font-weight: 600;
  float: right;
  margin-right: -8px;
  width: 15px;
  height: 15px;
}