.ldq-menu {
  width: 160px;
  font-size: 14px;
  margin: 0;
  padding: 5px 0;
  z-index: 9999999;
  position: fixed;
  display: block;
  border: 0.3px solid #aaa;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.ldq-menu li {
  list-style: none;
}
.ldq-menu-hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 5px 0;
}
.ldq-menu-li {
  padding: 3px 10px;
  cursor: default;
}
.ldq-menu-li:hover {
  background-color: #409eff;
}
.ldq-menu-disabled {
  color: rgba(0, 0, 0, 0.6);
  cursor: not-allowed;
}
.ldq-menu-disabled:hover {
  background-color: #fff;
}
.ldq-menu-a {
  cursor: pointer;
}
.ldq-menu-a a {
  display: block;
  width: 100%;
  height: 100%;
  color: #222;
  text-decoration: none;
}
.ldq-menu-list::after {
  content: '>';
  font-family: "宋体";
  font-weight: 600;
  float: right;
  margin-top: 2px;
  margin-right: -5px;
  width: 15px;
  height: 15px;
}